
nav{
    text-align: center;
}
nav div{
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}
nav a{
    color: black;
    text-decoration: none;
}
.nav-item{
    list-style: none;
}

h5.numero{
    box-sizing: border-box;
    font-size: 80px;
    position: absolute;
    top: 200px;
    left: 200px;
    color: aliceblue;

}
h5.numero2{
    position: absolute;
    font-size: 80px;
    bottom: 200px;
    left: 200px;
    bottom: 350px;
    color: aliceblue;
    
}
.seccion{
    position: relative;
    background-color:#80B7DF;
    margin-bottom: 140px;
    
}
div.boat img{
    position: absolute;
    bottom: 1020px;
    left: 0px;

    z-index: 2;
    
}
.Hola {
  text-align: center;
  margin-top: 144px;
    
    
}
.Hola2 {
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 140px;

}
.Hola2 p{
    margin:auto;
    max-height: 200px;
    max-width: 700px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
.logo{
    padding: 10px;
    width: 70px;
    height: 100px;
}
.lupa{
    padding: 10px;
    width: 40px;
    height: 40px; 
}
.cartas{

    display: flex;
   justify-content: center;
}
.card{
    margin-right: 10px;
}
.Serv{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
}
.olas{
    position: relative;

}
.olita{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.ola2{
    position: relative;
}
.olita2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.card-title{
    margin-top: 24px;
}
.card-text{
   
    margin-top: 24px;
   
}
.btn {

    margin-top: 40px;
}

.bot2{
    margin-top: 65px;
}
.bot1{
    margin-top: 42px;
}

.Mas{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 70px;
    
}
.Mas a{
    
    text-decoration: none;
    background-color:#064594;
    color: aliceblue;
    border-radius: 400px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.prod{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-style: normal;
    
}
.cartas2{
display: flex;
justify-content: center;
margin-bottom: 140px;
}
.card{
    margin-right: 20px;
    margin-bottom: 140px;
    
}
.card-body-1 {
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
    
}
.card-body-2 {
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
}
.card-body-3 {
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
}
.card-body-4{
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
}

.completo{
    position: relative;
}
.lorem{
    position: absolute;
    bottom: 200px;
    left: 50px;
    width: 100%;
    
    color:aliceblue;
    
}
.lorem h3{
    margin-right: 50px;
    font-size: 70px;
    box-sizing: border-box;
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-style: normal;
   
    
}
.card-1:hover{
 box-shadow: 3px 3px 5px 0 black;
    
}
.card-2:hover{
    box-shadow: 3px 3px 5px 0 black;
       
   }
.card-3:hover{
    box-shadow: 3px 3px 5px 0 black;
       
   }
 .card-4:hover{
    box-shadow: 3px 3px 5px 0 black;
       
   }
.opac{
    filter: brightness(0.6);
    width: 100%;
}

.bott{
    border-radius: 400px;
   background-color:#FDD835;
   color: black;
   padding-left: 40px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 40px;
   z-index: 2;
   position: absolute;
   bottom: 100px;
   left: 50px;
   
}
.barco{
    position: absolute;
    bottom: 40px;
    left: 675px;
    width: 60%;


}
.nov{
    text-align: center;
   margin-top: 140px;
   margin-bottom: 60px;
}

.nov h3{
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-style: normal;
}

.cardnov{
    display: flex;
    justify-content: center;
    margin-bottom: -60px;
    
}
.bot-5{
    position: relative;
    bottom: -5px;
}
.bot-6{
    position: absolute;
    bottom: 10px;
}
.bot-7{
    position: absolute;
    bottom: 12px;
    display: inline-block;
    
   
}
.bot-7 a{
    color: #064594;
    position: relative;
    display: inline;
    bottom: 12px;
    
}
.bot-6 a{
    color: #064594;
    position: relative;
    display: inline;
    bottom: 15px;
}
.bot-5 a{
    color: #064594;
    position: relative;
    display: inline;
    bottom: 12px;

}
.bx{
    font-size: 35px;
    display: inline;
    background-color: #064594;
    border-radius: 400px;
    color: aliceblue;
}

.trans{
    position: relative;
    bottom: 10px;
}
.card-text-4{
    position: relative;
    bottom: 10px;
}
#buscar{
    position: relative;
    top: -45px;
}
.form-control{
    height: 30px;
}
.Menos{
    text-align: center;
    margin-bottom: 140px;
}
.Menos a{
    
    text-decoration: none;
    background-color:black;
    color: aliceblue;
    border-radius: 400px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.seccion4{
    background-color: #80B7DF;
}
.gal {
    text-align: center;
    color: black;
    padding-top: 60px;
    padding-bottom: 60px;
}
.grid{
    padding-left: 600px;
    margin-right: 300px;
    box-sizing: border-box;

}

.row{
    position: relative;
    left: 250px;
}
.row .col{
    margin-top: 30px;
  
}
#col-1{
    position: relative;
}
#col-1 img {
    width: 70%;
    position: relative;
    bottom: 30px;
    filter: brightness(0.6);
   
}
#col-1 .parr1{
    position: absolute;
    bottom: 120px;
    left: 70px;
    width: 50%;
    color: aliceblue;
}
#col-2{
    position: relative;
}

#col-2 img {
    width: 70%;
    margin-right: 100px;
    position: relative;
    top: -30px;
    left: -60px;
    filter: brightness(0.6);

}
#col-2 .parr2{
    position: absolute;
    bottom: 120px;
    left: -20px;
    width: 50%;
    color: aliceblue;

}
#col-3{
    position: relative;
}
#col-3 img {
    width: 70%;
    position: relative;
    top: -40px;
    filter: brightness(0.6);

}
#col-3 .parr3{
    position: absolute;
    bottom: 140px;
    left: 70px;
    width: 50%;
    color: aliceblue;
}
#col-4{
    position: relative;
}
#col-4 img {
    width: 70%;
    position: relative;
    left: -110px;
    top: -40px;
    filter: brightness(0.6);
}
#col-4 .parr4{
    position: absolute;
    bottom: 130px;
    left: -20px;
    width: 50%;
    color: aliceblue;
}
.bark{
    position: relative;
}
.bark .botbark{
    position: absolute;
    left:120px;
    bottom: 50px;
    padding-left: 40px;
    padding-top: 2px;
    padding-right: 40px;
    padding-bottom: 5px;
    border-radius: 300px;
    background-color: aliceblue;
}
.pic{
    position:relative;
    bottom: 350px;
    left: 300px;
    
}
.pic img{
    padding-bottom: 40px;
    width: 35%;
}

.listaR{
    position: relative;
    margin: 0;
    right: 580px;
    top: 100px;
    border-radius: 700px;
    padding-left: 550px;
    padding-top: 3px;
    padding-bottom: 2px;
    background-color: aliceblue;
   
    
}
.Menos-2 a{
    
    text-decoration: none;
    background-color: #064594;
    color: aliceblue;
    border-radius: 400px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.Menos-2{
    text-align: center;
    margin-bottom: 140px;
    position: relative;
    bottom: 300px;
    right: 200px;
}
.Menos-3{
    text-align: center;
    margin-bottom: 140px;
    position: relative;
    bottom: 463px;
    left: 550px;
}
.Menos-3 a{
    
    text-decoration: none;
    background-color: #064594;
    color: aliceblue;
    border-radius: 400px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
footer{
    background: #e3e3e3;
}
.subir{
    position: relative;
   
}
.integracion{
    display: flex;
    background: #064594;
    color: hsl(0, 0%, 100%);
    width: 900px;
    height: 550px;
    margin: auto;
margin-top: -10%;
box-shadow: 1px 5px 5px 0 #2a2828;
}
.contacto-footer img{
    width: 450px;
    height: 100%;
    border: solid 4px #064594;
}
.contacto-footer-new {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.contacto-footer-new .prin{
font-size: 44px;
}
.contacto-footer-new h3{
margin-bottom: 16px;
font-size: 24px;
}
.contacto-footer-new p{
    font-size: 16px;
}

.general{
    display: flex;
    justify-content: space-evenly;
    max-width:1000px ;
    margin: auto;
}
.gena{
    margin-top: 10%;
    text-align: left;
}
.general-intro img{
    height: 100px;
    width: 150px;
   margin-bottom: 30px;
   padding: 10px;
}
.general-intro i{
    font-size: 25px;
    margin-right: 10px;
    color: black;
}
.general-intro i:hover{
    color: #2a2828;
}
.general-into__texto p{
    font-size: 16px;
}
.general-seco{
    margin-top: 7%;
}
.general-seco h3{
    font-size: 24px;
    margin-bottom: 30px;
}
.general-seco-igul{
    margin-top: 13%;
}
.formulario h3{
font-size: 24px;
margin-bottom: 30px;
}
.for input,textarea{
    padding: 0 20px;
   
}
.for input:focus{
color: #417dc6;
}
.for textarea{
    width: 260px;
    height: 150px;
}
input.boton-enviar{
    margin-left: 90px;
    margin-bottom: 20px;
    padding: 7px 60px;
    background: #064594;
    color: #fff;
    border-radius: 35px;
}
.fin{
    max-width:1000px ;
    margin: auto;
}
.fin-otra{
    display: flex;
    justify-content: space-between;/*para colocarlo en cada esquina*/
}